* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgb(3, 3, 69),   rgb(118, 7, 118));
  font-family:'Courier New', Courier, monospace;
}

.text-overlay {
  position: absolute;
  top:10%;
  left:10%;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

.text-bot {
  position: absolute;
  top: 60%;
  left: 10%;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

.audio-container {
  width: 80%;
  max-width: 600px;
  position: absolute;
  top: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#play-button {
  width: 100px;
  height: 100px;
  background-color: #2c3e50;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

#play-button:focus {
  outline: none;
}

.play-icon {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid white;
  display: block;
}

.pause-icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pause-icon::before,
.pause-icon::after {
  content: "";
  width: 12px;
  height: 30px;
  background-color: white;
  display: inline-block;
}

.pause-icon::after {
  margin-left: 8px;
}